.logo{
	display: block;
	margin: auto;
	width:150px;

}

small{
	color: white;
	font-size: 20px;
}
.red{
	margin: 10px;
	border-radius: 10px;
}
.foto1{
	width: 100%;
	height: 40%;

}
.foto2{
	width: 100%;
	height: 80%
}
.header{
	height: 150px;
}
.banner{
	height: 100%;
}
.redes{
	height: 80%;
}
.fotof{
	margin: 10px;
}

.coment{
	padding: 10px !important;
	float: left;
	width: 80% !important;
	background-color: white !important;
	border: none !important;
	height: 30px !important;

}
.fotocom{
	float: left;
}
.fotocreator{
	display: block;
	margin: auto;
}
.line{
	background-color: white;
	width: 80%;
	height: 2px;
	border-radius: 3px;
	display: block;
	margin: auto;
}
.nombre{
	color: white;
	text-align: center;
}
.parrfocreator{
	color: white;
	text-align: justify;
}










































































































































